body {
    color: #5d666a;
    font-family: sans-serif;
}
.ad {
    background-color: lightblue;
    width: 100%;
}
.ad-flight {
    height: 100%;
    width: 100%;
    position: relative;
}

#bg {
    position: relative; 
    text-align: center;
    height: 100%;
    width: 100%;
}
#bg img {
    margin: auto;
    height: 100%;
    width: 100%;
}

#demo {
    width: 34%;
    height: 10%;
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: 15%;
    left: 51%;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
}
#logo {
    position: relative;
    width: 10%;
    height: 100%;
    min-height: 60px;
    min-width: 20px;
    background-image: url(./assets/plane.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid transparent 6px;
    color: #0f0687;
}
#logo p {  
    line-height: 10px;}